<tr>
  <td>
    <%= review.rating %>
    <%= review.description %>
    <% if current_user.id == review.user_id %>
        <%= link_to 'Delete', [@product, review], class: 'btn btn-sm btn-danger', method: :delete, data: { confirm: "Are you sure?" } %>
      <% end %>
    <br>
  </td>
</tr>
